
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  .row {
    flex-direction: row-reverse;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
    border-bottom: 2px solid white;
  }

  .column {
    float: left;
    width: 24%;
    margin-top: 30px;
    margin-left: 0.8%;
    height: 400px;
    background-image: url(Image4.jpeg);
    background-size: cover;
    border-radius: 20px;

  }

  h2 {
    color: white;
    text-align: center;
    font-size: 2.5em;

  }

  p {
    color: white;
    text-align: center;
    font-size: 1.5em;

  }

  .row>div:first-child>h2 {
    color: rgb(182, 142, 91);
  }

  .row>div:last-child>h2 {
    color: rgb(182, 142, 91);
  }

  .row>div:nth-child(4)>p {
    font-size: 16px;
    word-spacing: 2px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
    flex-direction: row-reverse;
  }

  .ItemImg {
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }

    p {
      font-size: 1em;
    }

    h2 {
      font-size: 2em;
    }
  }


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }

    p {
      font-size: 1em;
    }

    h2 {
      font-size: 2em;
    }
  }


  input[type=text],
  select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

  }

  input[type=submit] {
    background-color: rgb(182, 142, 91);
    color: white;
    margin-top: 15px;
    padding: 20px 20px;
    border: none;
    width: 100%;
    cursor: pointer;
  }

  input[type=checkbox]:checked~.submit {
    background-color: rgb(248, 0, 0);
    border: 2px solid rgb(248, 0, 0);
    border-radius: 5px;

  }

  input[type=submit]:hover {
    background-color: rgb(255, 132, 61);
  }

  .container {

    background-color: #f2f2f2;
    padding: 10px;
    background-image: url("Image4.jpeg");

  }

  .footer {
    background-image: url("Image6.jpeg");
  }

  .footer>li>a:hover {
    border: 0px;

  }

  .column1 {
    margin-left: 25%;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }


  .row1:after {
    content: "";
    display: table;
    clear: both;
  }

  .inContainer>h2 {
    color: white;
  }

  .inContainer>p {
    color: white;
  }

  @media screen and (max-width: 600px) {

    .column1,
    input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }